body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.center-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.track-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.original-track {
  width: 30%;
}

.arrow {
  margin: 0 10px;
}

.youtube-result {
  display: flex;
  align-items: center;
  width: 30%;
}

.youtube-result img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.track-info {
  display: flex;
  flex-direction: column;
}